file/dataset_definitivi/anagrafica_scuole_pulita.csv
file/dataset_definitivi/assegnazioni_docenti.csv
file/dataset_definitivi/classi.csv
file/dataset_definitivi/docenti.csv
file/dataset_definitivi/percorsi.csv
file/dataset_definitivi/studenti.csv
file/dataset_definitivi/voti.csv
file/dataset_puliti/stu_cittadinanza_pulito.csv
file/dataset_puliti/stu_indirizzi_pulito.csv
file/dataset_puliti/statistiche_simulazione.csv
file/dataset_puliti/anagrafica_scuole_pulita.csv
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
